body{
    background: rgb(15, 56, 19);
    background-image: url('https://img.freepik.com/vector-gratis/fondo-campo-futbol-estilo-degradado_23-2148995842.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif; font-size: 14px;
    color: white;
    text-align: center;
    
}

.grid-layout{
    display: grid;
    width: 65%;
    margin: 0 auto;
    grid-template-columns: 40% 10% 40% 10%;
    grid-template-rows: 25% 24% 51%;
}

.caja {
    text-align: center;
}

#Titulo{
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
}

#tabla, td{   
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    width:100%;
    height:100%;   
}

td{
    padding: 5px;
}

#CuartoReich, #UnidadPolenta{
    width: 85%;
    text-align: center;
}

#sede{
    margin-left: 39%;
    align-content: center;
    text-align: center;
    
}

.SedeyHorario{
    grid-column: 1 / span 4;
    border: 2px solid black;
    text-align: center;
    
}

.equipo1{
    grid-column: 1/3;
    border-left: 2px solid black;
}

.equipo2{
    grid-column: 3/5;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.nazi{
    grid-column: 1;
    font-size: 17px;
    border-right: 2px solid black;
    border-left: 2px solid black;

}

.polenta{
    grid-column: 3;
    font-size: 17px;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.goles1{
    grid-column: 2;
    font-size: 17px;

}

.goles2{
    grid-column: 4;
    font-size: 17px;
    border-right: 2px solid black;
}

#subtitulo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

footer{
    text-align: center;
    height: 50px;
    line-height: 50px;
}

@media (max-width: 2400px){
    body{
        flex-direction: column;
    }
}


@media (max-width:1200px){
    body{
        flex-direction: column;
    }
}

@media (max-width:992px){
    body{
        flex-direction: column;
    }

    #CuartoReich, #UnidadPolenta{
        text-align: center;
    }

    #sede{
        margin-left: 30%;
        margin-right: 25%;
    }

}

@media (max-width:768px){

    body{
        flex-direction: row;
    }

    #CuartoReich, #UnidadPolenta{
        font-size: 15px;
        text-align: center;
    }

    #sede{
        margin-left: 33%;
        margin-right: 12%;
        font-size: small;
    }                

    .grid-layout{

        width: 85%;                   
        grid-template-columns: 35% 15% 35% 15%;
        grid-template-rows: 24% 24% 52%;

    }

    .caja{
        font-size: small;
    }

    .nazi{
        font-size: 13px;

    }

    .polenta{
        font-size: 13px;

    }

    .goles1{
        font-size: 13px;
    }

    .goles2{
        font-size: 13px;
    }

   
}


@media (max-width:576px){

    body{
        flex-direction: row;
    }

    #CuartoReich, #UnidadPolenta{
        font-size: 15px;
        text-align: center;
    }

    #sede{
        margin-left: 33%;
        margin-right: 12%;
        font-size: small;
    }                

    .grid-layout{

        width: 85%;                   
        grid-template-columns: 35% 15% 35% 15%;
        grid-template-rows: 24% 24% 52%;

    }

    .caja{
        font-size: small;
    }

    .nazi{
        font-size: 13px;

    }

    .polenta{
        font-size: 13px;

    }

    .goles1{
        font-size: 13px;
    }

    .goles2{
        font-size: 13px;
    }
    
}

@media (max-width:360){
 
    body{
        flex-direction: row;
    }

    #CuartoReich, #UnidadPolenta{
        font-size: 15px;
        text-align: center;
    }

    #sede{
        margin-left: 33%;
        margin-right: 12%;
        font-size: small;
    }                

    .grid-layout{

        width: 85%;                   
        grid-template-columns: 35% 15% 35% 15%;
        grid-template-rows: 24% 24% 52%;

    }

    .caja{
        font-size: small;
    }

    .nazi{
        font-size: 13px;

    }

    .polenta{
        font-size: 13px;

    }

    .goles1{
        font-size: 13px;
    }

    .goles2{
        font-size: 13px;
    }
}
