body {
    background: rgb(15, 56, 19);
    background-image: url('file:///C:/Users/User/Pictures/tapia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #292901; /* Amarillo brillante */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: bold; /* Aumenta el grosor de la fuente */
}

